# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.vcxproj
*.filters
*.user

*build*
*Build*

/tests
/docs

# Ignore the scripts for now since so many tests lol
*.bat
*.sh
*.py
mage.properties

reminders.txt

# Ignore source and headers for now while still setting up cmake
*.cpp
*.cc
*.c
*.cxx
*.h
*.hpp