# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
#*.lib #include my bmd lib for now

# Executables
*.exe
*.out
*.app
*.cso


**/*build*/
**/*Build*/

/tests
#/.idea/

mage.properties

reminders.txt

**/*.vs/
Mage3DX/x64

/Mage3DX/Mage3DX.aps
/Debug
/x64
/Mage3DX/Debug

!Mage3DX/assets/models/.*obj
!Mage3DX/assets/models/.*gltf
*.gltf
*.mtl
*.log

TestApp/x64

EngineTools/x64