# Compiled Object files
*.slo
*.lo
*.o
# *.obj # allow model files. So far obj is the only format ive found that exports at least some texture maps with the mtl file (at least when using blender)

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
#*.lib #include my bmd lib for now

# Executables
*.exe
*.out
*.app

*.vcxproj
*.filters
*.user

**/*build*/
**/*Build*/

/tests
#/.idea/

mage.properties

reminders.txt

